@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #22254b;
  margin: 0;
  color: white;
}

.root-container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.appName {
  margin-top: 8px;
  font-family: "Audiowide", cursive;
}

.appName:hover {
  cursor: pointer;
}

.search {
  font-family: inherit;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem;
}

.searchBtn {
  background-color: #373b69;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  margin: 5px;
}

.searchIcon {
  background-color: #373b69;
  color: white;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 250px;
  background-color: #373b69;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
  object-fit: cover;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #22254b;
  height: 100%;
  padding: 1rem;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
}

.movie:hover img {
  filter: blur(2px);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
}

.tag.green {
  color: green;
}

.tag.red {
  color: red;
}

.tag.orange {
  color: orange;
}
